body {
    font-family: 'Arvo', serif;

}
/*--------------------------------Navbar*/

.navbar {

   background: #000000;
   z-index: 1;
   width: 100%;
   position: absolute;
}

.navbar-brand {
    font-size: 30px;
    color: #969FAA;
}


a {
   display: inline-block;
    padding: 5px;
    background-color: transparent;
    color: #969FAA;
    border: none;
}

/*--------------------------------welcome page*/

.welcome-container {
    height: 105vh;
    background: url('../images/battlerope.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);

}

.team-container {

    background-color: rgb(255, 255, 255);

    font-size: 32px;
    color: #000000;
    max-width: none;
}

.page-header {
    text-align:center;
}

.img {
    border-radius: 50%;
}

.block-divider {
    width: 70px;
    height: 2px;
    border-radius: 0%;
    background-color: #969FAA;
    padding-top:0%
}



h1 {
    text-align: center;
    font-size: 85px;
    padding-top: 150px;
    color:#969FAA;
}

h2 {
    text-align: center;
    color:#969FAA;

    margin-left: 20px;
}


/*--------------------------------Jumbotron*/


.lead {
    color:rgb(237, 241, 243);
}

.display-4 {
    color: rgb(237, 240, 243);
}



/*--------------------------------Quotes*/
.container-wrapper {
    background-color: #8c8b8b;
}

.image {
    text-align: center;
}

.block-divider-2 {
    width: 400px;
    height: 2px;
    border-radius: 0%;
    background-color: rgb(136, 9, 9);
}

/*--------------------------------About*/


.facilities-container {
    height: 100vh;
    background: url('../images/about.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.about-us {
    padding-top: 100px;
}

/*--------------------------------Contact*/

.contact-container {
    height: 100%;
    background: url('../images/barbell-near-belt.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


h3 {
    color:#969FAA;
}

.contact-form {
    color:#969FAA;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 60%; /* Full width */
  padding: 1px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.address {
    padding-top: 100px;
    color: #969FAA;

}

.phone {
    padding-top: 100px;
    color: #969FAA;

}

.email {
    padding-top: 100px;
    color: #969FAA;
    float: right

}


/*--------------------------------Map*/

.map {
    align-content: center;
    
}



/*--------------------------------Footer*/

