body {
    font-family: 'Arvo', serif;
}
/*--------------------------------Navbar*/

.navbar {

   background: #000000;
   z-index: 1;
   width: 100%;
}

.navbar-brand {
    font-size: 30px;
    color: #969FAA;
}

button {
    display: inline-block;
    padding: 5 px;
    background-color: transparent;
    color: #969FAA;
    border: none;
}



/*--------------------------------welcome page*/

.welcome-container {
    height: 120vh;
    background: url('../images/battlerope.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

}


/*--------------------------------Jumbotron*/

.jumbotron {
    background-color: transparent;
    color: #969FAA;
    left: 100px;
    top: 600px;
}

h1 {
    text-align: center;
    font-size: 100px;
}
